div{
    border: 2px solid black;
    margin: 20px;
    padding: 0 10px;
}

.div-recipe{
    background-color:aquamarine;
}

.div-parent{
    background-color: rgb(0, 128, 100);
}

.div-child{
    background-color: lightblue;
    box-sizing: border-box;
    height: auto;
    width: 500px;

}